@import "tailwindcss";

:root {
  --background: #050505;
  --surface: #111111;
  --card: #171717;

  --primary: #0047ff;
  --secondary: #ff6e02;

  --text: #ffffff;
  --text-secondary: #a1a1aa;

  --border: #27272a;

  --container-width: 1360px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-tight);
}

.container-custom {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: 48px;
  padding-right: 48px;
}

@media (max-width: 768px) {
  .container-custom {
    padding-left: 24px;
    padding-right: 24px;
  }
}